# Zambia OCDS Analysis Notebook

*Generated by OCDS Data Downloads*

## **Setup**

You need to run the cells in this section to set up the notebook.

Run the following cell **only once** and it may take a **long time** to run. It downloads and extract the SQLite database file.

In [ ]:
!curl  https://ocdsdata.fra1.digitaloceanspaces.com/zambia/ocdsdata_zambia.sqlite.gz | gunzip > zambia.sqlite

If the notebook **crashes** or you need to **reset the runtime** only the following cell needs to be rerun. It sets up a connection to the SQLite database and loads extensions help running SQL.

In [ ]:
%load_ext sql
%config SqlMagic.autopandas = True

%load_ext google.colab.data_table

import seaborn as sns

%sql sqlite:///zambia.sqlite

## **Tables**

Here are a list of the tables in the sqlite database. Click on the table name to get more information about each field within the table.

{{tables}}

## **Example Analysis**

Queries can be made with `%sql` or `%%sql` magic commands like the following.

In [ ]:
%%sql
select count(*) count from release;

In [ ]:
%sql select * from release limit 5;

#### Data Recency

These sql statements represent the recency of the data (over years and months) using the release.date.  The `<<` put the sql results into a pandas dataframe.
The dataframes are then used by graphing libary seaborn to draw some basic charts.

In [ ]:
# count per year
%sql year << select strftime('%Y', date) year, count(*) AS count from release group by 1
# cout by year and month
%sql month << select strftime('%Y', date) year, strftime('%m', date) month, count(*) AS count from release group by 1,2 order by 1,2
#sns is used as shorcut for seaborn by convension
sns.catplot(x="year", y="count", kind="bar", data=year).set_xticklabels(rotation=90)
sns.catplot(x="month", hue="year", y="count", kind="point", data=month, order=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])